<h1>Users Record Page</h1>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Designation</th>
      <th>Status</th>
      <th>Age</th>
      <th>Gender</th>
      <th>Role</th>

    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.username %></td>
        <td><%= user.designation %></td>
        <td><%= user.active %></td>
        <td><%= user.age %></td>
        <td><%= user.gender %></td>
        <td><%= user.role %></td>
      </tr>
    <% end %>
  </tbody>
</table>