<h1>Showing Hospital details</h1>

<p><strong>Name:</strong><%= user.name %></p>
<p><strong>Designation: </strong><%= @user.designation %></p>
<p><strong>Status: </strong><%= @user.active %></p>
<p><strong>Age: </strong><%= @user.age %></p>
<p><strong>Gender: </strong><%= @user.gender %></p>
<p><strong>Role: </strong><%= @user.gender %></p>